In [1]:
import pandas as pd

In [2]:
df_name_basics = pd.read_csv(r"C:\Users\diogo\OneDrive\Ambiente de Trabalho\GIT projects\IMDb\archive\name.basics.tsv", sep="\t", na_values=["\\N"])

In [3]:
df_name_basics[df_name_basics["nconst"] == "nm13204540"]

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
3936044,nm13204540,"Anthony 'Tony"" James",NaN,NaN,"director,editor,producer","tt22769152,tt21834478,tt6277422,tt36175910"

In [4]:
df_name_basics.iloc[3936044,:]

nconst                                               nm13204540
primaryName                                Anthony 'Tony" James
birthYear                                                   NaN
deathYear                                                   NaN
primaryProfession                      director,editor,producer
knownForTitles       tt22769152,tt21834478,tt6277422,tt36175910
Name: 3936044, dtype: object

In [5]:
df_name_basics.dtypes

nconst                object
primaryName           object
birthYear            float64
deathYear            float64
primaryProfession     object
knownForTitles        object
dtype: object

In [6]:
df_name_basics = df_name_basics.apply(lambda x: x.str.replace('"', '').str.replace("'", '') if x.dtype == "object" else x)

In [9]:
from sqlalchemy import create_engine
from sqlalchemy import text
import pandas as pd
import os

# ðŸ“Œ Definir parÃ¢metros de conexÃ£o ao PostgreSQL
DB_USER = "postgres"
DB_PASSWORD = os.getenv("PG_PASSWORD")  # Recomenda-se usar variÃ¡vel de ambiente!
DB_HOST = "localhost"
DB_PORT = "5434"
DB_NAME = "IMDb"

# ðŸ”— Criar conexÃ£o com PostgreSQL via SQLAlchemy
engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

In [ ]:
# Query de teste para verificar a conexÃ£o

conn = engine.connect()

query = text("SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'name_basics';")
result = conn.execute(query)

print(result.scalar())

conn.close()

birthYear

In [ ]:
# Query de teste sÃ³ para fazer um create table

conn = engine.connect()

query = text("Create table if not exists test (doc_id integer primary key not null, doc_text varchar)")
result = conn.execute(query)

conn.execute(query)
conn.commit()

conn.close()

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [ ]:
# Next dataframe

df_title_akas = pd.read_csv(r"C:\Users\diogo\OneDrive\Ambiente de Trabalho\GIT projects\IMDb\archive\title.akas.tsv", sep="\t", na_values=["\\N"])   
df_title_akas = df_title_akas.apply(lambda x: x.str.replace('"', '').str.replace("'", '') if x.dtype == "object" else x)